.container {
  width: 40%;
  padding: 2px;
  margin-top: 4%;
}

.card {
  height: 1100px;
}

.bg-white {
  padding: 4px;
  margin-top: 10%;
}

.form-label, .form-control, .input-group-text {
  font-size: 35px;
}

.alert {
  font-size: 27px;
}

.btn {
  font-size: 35px;
  margin-top: 11%;
  height: 70px;
}
