<app-navigation-bar></app-navigation-bar>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow p-5 rounded">
        <div class="card-body">
          <h3 class="text-center">NEW DEVICE</h3>
          <h5 class="mt-2 mb-5 text-center">Fill in the data below.</h5>
          <form class="requires-validation" [formGroup]="saveForm" (ngSubmit)="saveDevice()">
            <div class="row mb-4">
              <div class="col-md-12">
                <input formControlName="description" class="form-control form-control-lg"
                       placeholder="Description"
                       required type="text">
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-12">
                <input formControlName="address" class="form-control form-control-lg"
                       placeholder="Address"
                       required type="text">
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-12">
                <input formControlName="consumption" class="form-control form-control-lg"
                       placeholder="Maximum Hourly Description"
                       required type="text"
                       inputmode="numeric">
              </div>
            </div>
            <div class="row mb-4">
              @if (errorMessage) {
                <div class="alert alert-danger d-flex justify-content-center align-items-center" role="alert">
                  {{ errorMessage }}
                </div>
              }
              <div class="text-center">
                <button type="submit" class="btn btn-lg btn-primary">Save device</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
